<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verify Email</title>
    <!-- font awsome -->
  </head><style>
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital@1&family=Pacifico&family=Poppins:ital,wght@0,200;1,200;1,300;1,400;1,500&family=Source+Sans+3:ital@1&family=Sura&display=swap');
  *{
      font-family: sura;
  }
</style>
  <body style="margin: 0; background-color: #F6F8FB;">
    <div style="font-family: 'Roboto', sans-serif; max-width: 800px; margin: auto;">
      <div style="border-radius: 6px; box-shadow: 0px 1px 4px 0px rgb(178 190 181);">
        <div style="background-color: #fff; padding: 30px 40px; border-radius: 6px 6px 0 0;">
        <div style="display: grid; grid-template-columns: auto auto; margin-bottom: 50px;">
          <div>
            <p style="display:block;float:left;">PMS</p>
            <p style="text-transform: capitalize; color: #223354; margin: 0; text-align: right; font-size: 13px;">{{date}}</p>
          </div>
        </div>
        <div style="margin-bottom: 60px;">
          <div style="margin-bottom: 25px;">
            <h3 style="color: #00B45A; font-size: 21px;">Please confirm your email</h3>
          </div>
          <p style="font-size: 15px; opacity: 0.6; color: #223354; margin-bottom: 25px;">Thank you for signing up!</p>
          <p style="font-size: 15px; opacity: 0.6; color: #223354; margin-bottom: 25px;">Please click on the button below to get started.</p>
          <div style="margin-bottom: 40px;">
            <a href=`{{url}}/auth/accept/{{token}}` style="text-decoration: none; background-color: #00B45A; color: #fff; padding: 10px 20px; border-radius: 6px; font-weight: 400; font-size: 15px; display: inline-block; text-align: center; line-height: 1.5;">Confirm your email</a>
          </div>
          <p style="font-size: 15px; opacity: 0.6; color: #223354; margin-bottom: 25px;">If you didn’t sign up for this, you can ignore this email or contact support if you have questions.</p>
          <div style="margin: 50px 0; border-bottom: 1px solid rgba(34, 51, 84, 0.2); padding-bottom: 33px;">
            <p style="font-size: 15px; opacity: 0.6; color: #223354; margin-bottom: 25px; margin-bottom: 12px; margin-top: 0;">Welcome & Thanks!</p>
            <p style="font-size: 15px; opacity: 0.6; color: #223354; margin-bottom: 25px; opacity: 1; margin-bottom: 12px; margin-top: 0;">PMS Team</p>
          </div>
       </div>
      </div>
      <div style="background: rgba(182, 182, 182, 0.2); text-align: center; padding: 65px 0;">
        <p style="font-size: 15px; color: #223354; margin-bottom: 6px;">{{year}} PMS</p>
 
      </div>
      </div>
    </div>
  </body>
</html>
