<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital@1&family=Pacifico&family=Poppins:ital,wght@0,200;1,200;1,300;1,400;1,500&family=Source+Sans+3:ital@1&family=Sura&display=swap');
        *{
            font-family: sura;
        }
        .container{
            background-color: #F5E8E8;
            height:100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h2,p{
            padding:0 40px;
            font-weight: bold;
        }
        .box{
            background-color: white;
            width: 40%;
            height: max-content;
        }
        #confirm{
            color: #00B45A;
            padding:0 40px;
        }
        p{
            margin:5% 0;
        }
        a{
            background-color:#00B45A;
            color:white;
            text-decoration: none;
            padding:10px;
            border-radius: 5px;
            margin-left: 40px;
        }
        .copy{
            background-color: rgb(194, 194, 194);
            height:50px;
        }
        h5{
            text-align: center;
            background-color: rgb(168, 168, 168);
            height: 30px;
            width:40%;
            margin:0
        }
        #current_date{
            text-align: right;
        }
        @media(max-width:900px){
            .box{
                width:80%;
            }
            h5{
                width:80%;
            }
        }
        @media(max-width:500px){
            p{
                margin:8% 0;
            }
        }
        @media(max-width:400px){
            p{
                font-size:small;
            }
            #confirm{
                font-size:medium;
            }
        }
    </style>
</head>
<body class="container">
        <div class="box">
            <h2>PMS</h2>
            <h3 id="confirm">Please confirm your mail</h3>
            <p>Thank you for signing up!</p>
            <p>Please click the below button to confirm your email address.</p>
            <a href="{{url}}/auth/activate/{{token}}">Click here to confirm email</a>
            <p>If you don't signup, you can ignore this email & contact support if you have any questions.</p>
            <p>Welcome and Thanks,<br>PMS</p>
        </div>
        <h5>2022 PMS</h5>
</body>
</html>