<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Click the below button to Activate Your Account</h1>
    <div>
        <a href="{{url}}/auth/activate/{{token}}" style="cursor: pointer;text-decoration:none;background-color:blue;color:white;padding:6px 6px;height:5px;">Activate Account</a>
    </div>
</body>
</html>